<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongxin.terminal.dao.system.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.nongxin.terminal.entity.system.UserRole">
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ROLE_ID" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <insert id="insert" parameterType="com.nongxin.terminal.entity.system.UserRole">
    insert into auth_user_role (USER_ID, ROLE_ID)
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nongxin.terminal.entity.system.UserRole">
    insert into auth_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="roleId != null">
        ROLE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <delete id="deleteByUid" parameterType="java.lang.Integer">
    DELETE FROM `auth_user_role` WHERE USER_ID = #{uid,jdbcType=INTEGER}
  </delete>

</mapper>