<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongxin.terminal.dao.recovery.RecoveryLotMapper">
  <resultMap id="BaseResultMap" type="com.nongxin.terminal.entity.recovery.RecoveryLot">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="recovery_batch_id" jdbcType="INTEGER" property="recoveryBatchId" />
    <result column="lot_id" jdbcType="INTEGER" property="lotId" />
    <result column="yield" jdbcType="DECIMAL" property="yield" />
    <result column="unit" jdbcType="SMALLINT" property="unit" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.nongxin.terminal.entity.recovery.RecoveryLot">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="recovery_batch_id" jdbcType="INTEGER" property="recoveryBatchId" />
    <result column="lot_id" jdbcType="INTEGER" property="lotId" />
    <result column="yield" jdbcType="DECIMAL" property="yield" />
    <result column="unit" jdbcType="SMALLINT" property="unit" />
    <association property="lot" column="lot_id" select="com.nongxin.terminal.dao.base.LotMapper.getIdAndNameById"/>
  </resultMap>

  <sql id="Base_Column_List">
    id, recovery_batch_id, lot_id, yield, unit
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ddwb_recovery_lot
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ddwb_recovery_lot
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.nongxin.terminal.entity.recovery.RecoveryLot" useGeneratedKeys="true">
    insert into ddwb_recovery_lot (recovery_batch_id, lot_id, yield, 
      unit)
    values (#{recoveryBatchId,jdbcType=INTEGER}, #{lotId,jdbcType=INTEGER}, #{yield,jdbcType=DECIMAL}, 
      #{unit,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.nongxin.terminal.entity.recovery.RecoveryLot" useGeneratedKeys="true">
    insert into ddwb_recovery_lot
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recoveryBatchId != null">
        recovery_batch_id,
      </if>
      <if test="lotId != null">
        lot_id,
      </if>
      <if test="yield != null">
        yield,
      </if>
      <if test="unit != null">
        unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recoveryBatchId != null">
        #{recoveryBatchId,jdbcType=INTEGER},
      </if>
      <if test="lotId != null">
        #{lotId,jdbcType=INTEGER},
      </if>
      <if test="yield != null">
        #{yield,jdbcType=DECIMAL},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nongxin.terminal.entity.recovery.RecoveryLot">
    update ddwb_recovery_lot
    <set>
      <if test="recoveryBatchId != null">
        recovery_batch_id = #{recoveryBatchId,jdbcType=INTEGER},
      </if>
      <if test="lotId != null">
        lot_id = #{lotId,jdbcType=INTEGER},
      </if>
      <if test="yield != null">
        yield = #{yield,jdbcType=DECIMAL},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nongxin.terminal.entity.recovery.RecoveryLot">
    update ddwb_recovery_lot
    set recovery_batch_id = #{recoveryBatchId,jdbcType=INTEGER},
      lot_id = #{lotId,jdbcType=INTEGER},
      yield = #{yield,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getRecoveryLotByRecoveryBatchId" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
    select
    <include refid="Base_Column_List" />
    from ddwb_recovery_lot
    where recovery_batch_id = #{recoveryBatchId,jdbcType=INTEGER}
  </select>

</mapper>