<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongxin.terminal.dao.envmonitor.VideoChannelMapper">
  <resultMap id="BaseResultMap" type="com.nongxin.terminal.entity.envmonitor.VideoChannel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
    <result column="channel_no" jdbcType="INTEGER" property="channelNo" />
    <result column="serial_id" jdbcType="INTEGER" property="serialId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="base_id" jdbcType="INTEGER" property="baseId" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.nongxin.terminal.entity.envmonitor.VideoChannel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
    <result column="channel_no" jdbcType="INTEGER" property="channelNo" />
    <result column="serial_id" jdbcType="INTEGER" property="serialId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="base_id" jdbcType="INTEGER" property="baseId" />
    <collection property="baseName" column="base_id" select="com.nongxin.terminal.dao.base.BaseInfoMapper.getBaseName"/>
    <collection property="videoEquipment" column="serial_id" select="com.nongxin.terminal.dao.envmonitor.VideoEquipmentMapper.selectByPrimaryKey"/>
  </resultMap>

  <resultMap id="BaseIdMap" type="com.nongxin.terminal.entity.envmonitor.VideoChannel">
    <result column="base_id" jdbcType="INTEGER" property="baseId" />
  </resultMap>

  <sql id="Base_Column_List">
    id, channel_name,channel_no, serial_id, create_time, base_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ddwb_video_channel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ddwb_video_channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.nongxin.terminal.entity.envmonitor.VideoChannel" useGeneratedKeys="true">
    insert into ddwb_video_channel (channel_name,channel_no, serial_id, create_time,
      base_id)
    values (#{channelName,jdbcType=VARCHAR},#{channelNo,jdbcType=INTEGER}, #{serialId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP},
      #{baseId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.nongxin.terminal.entity.envmonitor.VideoChannel" useGeneratedKeys="true">
    insert into ddwb_video_channel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        channel_name,
      </if>
      <if test="channelNo != null">
        channel_no,
      </if>
      <if test="serialId != null">
        serial_id,
      </if>
        create_time,
      <if test="baseId != null">
        base_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="channelName != null">
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelNo != null">
        #{channelNo,jdbcType=INTEGER},
      </if>
      <if test="serialId != null">
        #{serialId,jdbcType=INTEGER},
      </if>
        now(),
      <if test="baseId != null">
        #{baseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nongxin.terminal.entity.envmonitor.VideoChannel">
    update ddwb_video_channel
    <set>
      <if test="channelName != null">
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelNo != null">
        channel_no = #{channelNo,jdbcType=INTEGER},
      </if>
      <if test="serialId != null">
        serial_id = #{serialId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="baseId != null">
        base_id = #{baseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nongxin.terminal.entity.envmonitor.VideoChannel">
    update ddwb_video_channel
    set channel_name = #{channelName,jdbcType=VARCHAR},
      channel_no = #{channelNo,jdbcType=INTEGER},
      serial_id = #{serialId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      base_id = #{baseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getChannelList" resultMap="BaseResultMap2">
    select a.* from ddwb_video_channel a
    left join ddwb_video_equipment b on a.serial_id = b.id
    where 1=1
    <if test="serialNumber != null">
      and position(#{serialNumber,jdbcType=VARCHAR} in b.serial_number)
    </if>
    <if test="baseId != null">
      and a.base_id = #{baseId,jdbcType=INTEGER}
    </if>
  </select>

  <select id="getVideoEquipByBaseId" parameterType="java.lang.Integer" resultMap="BaseResultMap2">
    select DISTINCT b.* from ddwb_video_channel a
    left join ddwb_video_equipment b on a.serial_id = b.id
    where base_id = #{baseId,jdbcType=INTEGER}
  </select>

  <select id="getBaseIdVideo" resultMap="BaseIdMap">
    SELECT
        b.base_id
    FROM
        ddwb_video_equipment a
        LEFT JOIN ddwb_video_channel b ON a.id = b.serial_id
    WHERE
	a.serial_number = #{serialNumber,jdbcType=VARCHAR}
	AND b.channel_no = #{channelNo,jdbcType=INTEGER}
  </select>

  <!--根据视频id获取通道-->
  <select id="getChannelBySerialId" resultMap="BaseResultMap">
    select * from ddwb_video_channel where serial_id = #{serialId,jdbcType=INTEGER}
  </select>

  <select id="checkChannel" resultMap="BaseResultMap">
    select * from ddwb_video_channel where serial_id = #{serialId,jdbcType=INTEGER} and channel_no = #{channelNo,jdbcType=INTEGER}
  </select>

  <select id="getAllList" resultMap="BaseResultMap2">
    select a.* from ddwb_video_channel a
    left join ddwb_video_equipment b on a.serial_id = b.id
  </select>
</mapper>