<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongxin.terminal.dao.market.MarketGoodMapper">
  <resultMap id="BaseResultMap" type="com.nongxin.terminal.entity.market.MarketGood">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pic_src" jdbcType="VARCHAR" property="picSrc" />
    <result column="good_name" jdbcType="VARCHAR" property="goodName" />
    <result column="good_price" jdbcType="DECIMAL" property="goodPrice" />
    <result column="specis" jdbcType="VARCHAR" property="specis" />
    <result column="from_source" jdbcType="VARCHAR" property="fromSource" />
    <result column="good_level" jdbcType="VARCHAR" property="goodLevel" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="save_one" jdbcType="DECIMAL" property="saveOne" />
    <result column="save_two" jdbcType="DECIMAL" property="saveTwo" />
    <result column="char_one" jdbcType="VARCHAR" property="charOne" />
    <result column="char_two" jdbcType="VARCHAR" property="charTwo" />
    <result column="id_one" jdbcType="INTEGER" property="idOne" />
    <result column="id_two" jdbcType="INTEGER" property="idTwo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, pic_src, good_name, good_price, specis, from_source, good_level, comment, save_one, 
    save_two, char_one, char_two, id_one, id_two
  </sql>
  <select id="selectByExample" parameterType="com.nongxin.terminal.entity.market.MarketGoodExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from ddwb_market_good
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ddwb_market_good
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ddwb_market_good
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.nongxin.terminal.entity.market.MarketGood" useGeneratedKeys="true">
    insert into ddwb_market_good (pic_src, good_name, good_price, 
      specis, from_source, good_level, 
      comment, save_one, save_two, 
      char_one, char_two, id_one, 
      id_two)
    values (#{picSrc,jdbcType=VARCHAR}, #{goodName,jdbcType=VARCHAR}, #{goodPrice,jdbcType=DECIMAL}, 
      #{specis,jdbcType=VARCHAR}, #{fromSource,jdbcType=VARCHAR}, #{goodLevel,jdbcType=VARCHAR}, 
      #{comment,jdbcType=VARCHAR}, #{saveOne,jdbcType=DECIMAL}, #{saveTwo,jdbcType=DECIMAL}, 
      #{charOne,jdbcType=VARCHAR}, #{charTwo,jdbcType=VARCHAR}, #{idOne,jdbcType=INTEGER}, 
      #{idTwo,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.nongxin.terminal.entity.market.MarketGood" useGeneratedKeys="true">
    insert into ddwb_market_good
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="picSrc != null">
        pic_src,
      </if>
      <if test="goodName != null">
        good_name,
      </if>
      <if test="goodPrice != null">
        good_price,
      </if>
      <if test="specis != null">
        specis,
      </if>
      <if test="fromSource != null">
        from_source,
      </if>
      <if test="goodLevel != null">
        good_level,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="saveOne != null">
        save_one,
      </if>
      <if test="saveTwo != null">
        save_two,
      </if>
      <if test="charOne != null">
        char_one,
      </if>
      <if test="charTwo != null">
        char_two,
      </if>
      <if test="idOne != null">
        id_one,
      </if>
      <if test="idTwo != null">
        id_two,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="picSrc != null">
        #{picSrc,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null">
        #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null">
        #{goodPrice,jdbcType=DECIMAL},
      </if>
      <if test="specis != null">
        #{specis,jdbcType=VARCHAR},
      </if>
      <if test="fromSource != null">
        #{fromSource,jdbcType=VARCHAR},
      </if>
      <if test="goodLevel != null">
        #{goodLevel,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="saveOne != null">
        #{saveOne,jdbcType=DECIMAL},
      </if>
      <if test="saveTwo != null">
        #{saveTwo,jdbcType=DECIMAL},
      </if>
      <if test="charOne != null">
        #{charOne,jdbcType=VARCHAR},
      </if>
      <if test="charTwo != null">
        #{charTwo,jdbcType=VARCHAR},
      </if>
      <if test="idOne != null">
        #{idOne,jdbcType=INTEGER},
      </if>
      <if test="idTwo != null">
        #{idTwo,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update ddwb_market_good
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.picSrc != null">
        pic_src = #{record.picSrc,jdbcType=VARCHAR},
      </if>
      <if test="record.goodName != null">
        good_name = #{record.goodName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodPrice != null">
        good_price = #{record.goodPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.specis != null">
        specis = #{record.specis,jdbcType=VARCHAR},
      </if>
      <if test="record.fromSource != null">
        from_source = #{record.fromSource,jdbcType=VARCHAR},
      </if>
      <if test="record.goodLevel != null">
        good_level = #{record.goodLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.comment != null">
        comment = #{record.comment,jdbcType=VARCHAR},
      </if>
      <if test="record.saveOne != null">
        save_one = #{record.saveOne,jdbcType=DECIMAL},
      </if>
      <if test="record.saveTwo != null">
        save_two = #{record.saveTwo,jdbcType=DECIMAL},
      </if>
      <if test="record.charOne != null">
        char_one = #{record.charOne,jdbcType=VARCHAR},
      </if>
      <if test="record.charTwo != null">
        char_two = #{record.charTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.idOne != null">
        id_one = #{record.idOne,jdbcType=INTEGER},
      </if>
      <if test="record.idTwo != null">
        id_two = #{record.idTwo,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ddwb_market_good
    set id = #{record.id,jdbcType=INTEGER},
      pic_src = #{record.picSrc,jdbcType=VARCHAR},
      good_name = #{record.goodName,jdbcType=VARCHAR},
      good_price = #{record.goodPrice,jdbcType=DECIMAL},
      specis = #{record.specis,jdbcType=VARCHAR},
      from_source = #{record.fromSource,jdbcType=VARCHAR},
      good_level = #{record.goodLevel,jdbcType=VARCHAR},
      comment = #{record.comment,jdbcType=VARCHAR},
      save_one = #{record.saveOne,jdbcType=DECIMAL},
      save_two = #{record.saveTwo,jdbcType=DECIMAL},
      char_one = #{record.charOne,jdbcType=VARCHAR},
      char_two = #{record.charTwo,jdbcType=VARCHAR},
      id_one = #{record.idOne,jdbcType=INTEGER},
      id_two = #{record.idTwo,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nongxin.terminal.entity.market.MarketGood">
    update ddwb_market_good
    <set>
      <if test="picSrc != null">
        pic_src = #{picSrc,jdbcType=VARCHAR},
      </if>
      <if test="goodName != null">
        good_name = #{goodName,jdbcType=VARCHAR},
      </if>
      <if test="goodPrice != null">
        good_price = #{goodPrice,jdbcType=DECIMAL},
      </if>
      <if test="specis != null">
        specis = #{specis,jdbcType=VARCHAR},
      </if>
      <if test="fromSource != null">
        from_source = #{fromSource,jdbcType=VARCHAR},
      </if>
      <if test="goodLevel != null">
        good_level = #{goodLevel,jdbcType=VARCHAR},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="saveOne != null">
        save_one = #{saveOne,jdbcType=DECIMAL},
      </if>
      <if test="saveTwo != null">
        save_two = #{saveTwo,jdbcType=DECIMAL},
      </if>
      <if test="charOne != null">
        char_one = #{charOne,jdbcType=VARCHAR},
      </if>
      <if test="charTwo != null">
        char_two = #{charTwo,jdbcType=VARCHAR},
      </if>
      <if test="idOne != null">
        id_one = #{idOne,jdbcType=INTEGER},
      </if>
      <if test="idTwo != null">
        id_two = #{idTwo,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nongxin.terminal.entity.market.MarketGood">
    update ddwb_market_good
    set pic_src = #{picSrc,jdbcType=VARCHAR},
      good_name = #{goodName,jdbcType=VARCHAR},
      good_price = #{goodPrice,jdbcType=DECIMAL},
      specis = #{specis,jdbcType=VARCHAR},
      from_source = #{fromSource,jdbcType=VARCHAR},
      good_level = #{goodLevel,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      save_one = #{saveOne,jdbcType=DECIMAL},
      save_two = #{saveTwo,jdbcType=DECIMAL},
      char_one = #{charOne,jdbcType=VARCHAR},
      char_two = #{charTwo,jdbcType=VARCHAR},
      id_one = #{idOne,jdbcType=INTEGER},
      id_two = #{idTwo,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>