<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nongxin.terminal.dao.plant.FarmingRoleMapper">
  <resultMap id="BaseResultMap" type="com.nongxin.terminal.entity.plant.FarmingRole">
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="farming_id" jdbcType="INTEGER" property="farmingId" />
  </resultMap>
  <insert id="insert" parameterType="com.nongxin.terminal.entity.plant.FarmingRole">
    insert into ddwb_farming_role_rel (role_id, farming_id)
    values (#{roleId,jdbcType=INTEGER}, #{farmingId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nongxin.terminal.entity.plant.FarmingRole">
    insert into ddwb_farming_role_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="farmingId != null">
        farming_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="farmingId != null">
        #{farmingId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <delete id="deleteByFarmingId" parameterType="java.lang.Integer">
    delete from ddwb_farming_role_rel where farming_id = #{farmingId,jdbcType=INTEGER}
  </delete>

</mapper>